body
{
    background-color: #73D3F3;
}

.calculatrice
{
    width: 430px;
    height: 580px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.top
{
    width: 430px;
    height: 150px;
    background-color: #034960;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:  13px;
    border-top-right-radius:    13px;
}

.print
{
    width: 370px;
    height: 90px;
    background-color: #C0DAE3;
    border: 5px solid #066787;
    font-family: 'calculatorregular';
    font-size: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}


.container
{
    width: 430px;
    height: 430px;
    background-color: white;
    border-bottom-left-radius:  13px;
    border-bottom-right-radius:    13px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.touche
{
    width: 80px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    border-radius:  5px;

}


.touche.tone 
{
    height: 130px;
}

.touche.bleu
{
    background-color: #034960;
    font-size: 30px;
    box-shadow: 0 6px #042632;
}

.touche.rouge
{
    background-color: #880D0D;
    box-shadow: 0 6px #630A0A;
}

.touche.n
{
    background-color: #78BBD3;
    box-shadow: 0 6px #0C92C3;
}



.touche.bleu:hover
{
    box-shadow: 0 4px #042632;
    position: relative;
    top: 2px;
}


.touche.rouge:hover
{
    box-shadow: 0 4px #630A0A;
    position: relative;
    top: 2px;
}


.touche.n:hover
{
    box-shadow: 0 4px #0C92C3;
    position: relative;
    top: 2px;
}